<div>
    <div style="padding: 2px 6px 2px 6px;">
        <button onclick="@(() => unitTestService.RunTests())" disabled="@(unitTestService.State == TestState.Running)">Run Tests</button>
        <button onclick="@(() => unitTestService.CancelTests())" disabled="@(unitTestService.State != TestState.Running)">Cancel Tests</button>
    </div>
    <div>
        @{
            var readyClass = Rendered ? "unit-test-ready" : "";
        }
        <table class="unit-test-view @readyClass">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Test Type</th>
                    <th>Method</th>
                    <th>Duration</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < unitTestService.Tests.Count; i++)
                {
                    var test = unitTestService.Tests[i];
                    var stateClass = test.State switch
                    {
                        TestState.Done => "test-state-done",
                        TestState.Running => "test-state-running",
                        _ => "test-state-none",
                    };
                    var resultClass = test.Result switch
                    {
                        TestResult.Unsupported => "test-unsupported",
                        TestResult.Success => "test-success",
                        TestResult.Error => "test-error",
                        _ => "",
                    };
                    <tr style="padding: 2px;" class="@stateClass @resultClass">
                        <td>
                            <button onclick="@(() => unitTestService.RunTests(test))" disabled="@(unitTestService.State == TestState.Running || test.State == TestState.Running)">Run</button>
                        </td>
                        <td class="test-type-name" style="padding: 2px 6px 2px 6px;">
                            <span style="font-weight: bold;">@i</span>
                        </td>
                        <td class="test-type-name" style="padding: 2px 6px 2px 6px;">
                            <span style="font-weight: bold;">@(test.TestTypeName)</span>
                        </td>
                        <td class="test-method-name" style="padding: 2px 6px 2px 6px;">
                            <span style="font-weight: bold;">@(test.TestMethodName)</span>
                        </td>
                        <td class="test-duration" style="padding: 2px 6px 2px 6px;">
                            <span style="">@(test.State == TestState.Done ? $"{test.Duration} ms" : "-")</span>
                        </td>
                        <td class="test-state" style="padding: 2px 6px 2px 6px;">
                            @switch (test.State)
                            {
                                case TestState.None:
                                    <span>-</span>
                                    break;
                                case TestState.Running:
                                    <span style="font-weight: bold; color: blue;">running</span>
                                    break;
                                case TestState.Done:
                                    switch (test.Result)
                                    {
                                        case TestResult.Unsupported:
                                            <span style="color: orange;">Skipped: @test.ResultText</span>
                                            break;
                                        case TestResult.Success:
                                            <span style="color: green;">@test.ResultText</span>
                                            break;
                                        case TestResult.Error:
                                            <span style="color: red;">@test.Error</span>
                                            break;
                                    }
                                    break;
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

